
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("images/pngtree-memphis-playful-abstract-portfolio-pink-image_593420.jpg");
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  min-height: 100%; 
}

header {
  background: darkslategray;
  color: white;
  padding: 10px 0;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li a:hover {
    background-color: #111111;
}

main { 
  padding: 15px;
}

footer {
  background: darkslategray;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto; /* Push the footer to the bottom */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: beige;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    text-align: center;
  }

  header nav ul li {
    margin: 5px 0;
  }

  table {
    width: 100%;
    font-size: 14px;
  }
}



