
    body {
        background-image:url(/lab04/Images/Light-Wood-Background-Texture.jpg);
        width: auto;
        height: auto;
    }
    
    main nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
    }
    
    main nav ul {
        float: left;
    }
    
    main nav ul a {
    display :block;
    color: white;
    text-align: center;
    padding: 15px 143px;
    text-decoration: none;
    }

    main nav ul a:hover {
    background-color: #111111;
    }

    h1 {
        color: black;
    }

    li {

        font-weight: bold;
    }

    p {
        font-weight: bold;
    }

    footer {
        font-weight: bold;
    }







    