.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 500px;
}

.content-table thead tr {
    background-color: lightcoral;
    color: black;
    text-align: left;
}

.content-table th,
.content-table td {
    padding: 12px;
}

.content-table tbody tr {
    border-bottom: 1px solid black;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: lightgrey;
}

.content-table tbody tr:last-of-type {
    border-bottom: 6px solid lightcoral;
}

.navbar ul{
    list-style-type: none;
    background-color: lightcoral;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: left;
}

.navbar a:hover{
    background-color: black;
}

.navbar li {
    float: left;
}



form {
  display: inline-block;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}

form{
    background-color: beige;
}