.container {
  font-family: Arial;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

header,
footer {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(250, 2, 2);
  color: whitesmoke;
  text-align: center;
}

header {
  grid-area: header;
}

aside {
  border-right: 1px solid rgb(255, 255, 255);
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

main {
  grid-area: content;
  display: grid;
  grid-template-rows: 4fr 3fr 3fr;
  gap: inherit;
}

article {
  padding: 10px;
  border: 2px solid rgb(225, 216, 235);
  border-radius: 5px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(13, 46, 46);
  }
    
nav ul {
  float: left;
}
    
nav ul a {
  display :flex;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 143px;
  text-decoration: none;
}

main nav ul a:hover {
  background-color: #111111;
}


* {
  box-sizing: content-box;
  margin: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

#wrapper {
  background-color: #e3c0ff;
}

header {
  color: #ffffff;
  background-color: #2f0b55;
  padding: 1em;
  text-align: center;
}

main {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  padding: 1em;
}

aside {
  background-color:#f5eaff;
  text-align: center;
  border-top: 1px solid white;
  padding: 1em;
}

footer {
  color:#ffffff;
  background-color: #2f0b55;
  font-size: 70%;
  text-align: center;
  padding: 0.5em 0;
}



    
