    body {
    font-weight:bold;
    background-color:#DFD9D8
    }

    #ruby {
        color:#761F21
    
    }
    
    #licorice {
        color:#0E0E0E
    
    }

    #black {
        color:black
    
    }

    p {
        color:#171d70
    }

    .highlight {
        background:yellow
    
    }

    footer {
        color:#403963
    
    }

