body {
    font-family: Arial;
    font-size: 16px;
}

header,
footer {
  border-radius: 5px;
  padding: 10px;
  background-color: purple;
  color: whitesmoke;
  text-align: left;
}

header {
  grid-area: header;
}


footer {
  grid-area: footer;
}


article {
  padding: 10px;
  border: 2px solid rgb(15, 15, 15);
  border-radius: 5px;
}


